[submodule "ldpjs"]
	path = ldpjs
	url = https://github.com/lcnetdev/ldpjs.git
[submodule "scriptshifter"]
	path = scriptshifter
	url = https://github.com/lcnetdev/scriptshifter.git
[submodule "dctap-dancer"]
	path = dctap-dancer
	url = https://github.com/thisismattmiller/dctap-dancer.git
