version: '3'
services:


  util:
    build:
      context: ./
      dockerfile: config/util.docker
    container_name: 'util'
    volumes:
      - ./util-service:/app
      - ./dist/staging:/dist/staging
      - ./dist/prod:/dist/prod
      - ./dist/profile-editor:/dist/profile-editor
      - ./dist/prod-quartz:/dist/prod-quartz
      - ./dist/stage-quartz:/dist/stage-quartz
      - ./tmp:/tmp
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    restart: always
    # ports:
    #   - 5001:5001

  scriptshifter:
    image: lcnetdev/scriptshifter:latest
    volumes:
      - ./tmp:/tmp
    environment:
      - TXL_FLASK_SECRET=1234567890
    restart: always

    # build:
    #   context: ./scriptshifter/
    #   dockerfile: Dockerfile
    # container_name: 'scriptshifter'
    # volumes:
    #   - ./tmp:/tmp
    # environment:
    #   - TXL_FLASK_SECRET=1234567890
    # # ports:
    # #  - 5003:8000


  database:
    image: 'mongo:8'
    container_name: 'mongo' # give your container a name
    environment:
      - MONGO_INITDB_DATABASE=bfe2 # database name you want to make
      # We don't need to define root stuff because we are not using auth in the db
      #- MONGO_INITDB_ROOT_USERNAME=bfe2 # set your container root username
      #- MONGO_INITDB_ROOT_PASSWORD=bfe2 # set your contatner root password
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - ./config/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - ./database_files:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "try { var s = rs.status(); s.myState === 1 } catch(e) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}); false }"]
      interval: 10s
      timeout: 10s
      retries: 12
      start_period: 40s
    restart: always

    # we don't need to expose the mongo server, it only talks internally to the other containers
    #ports:
    #  - '37017-37019:27017-27019'




  # ldpjs services removed - LDP functionality migrated to util-service

  dctap-dancer:
    build:
      context: ./dctap-dancer
      dockerfile: Dockerfile
    container_name: 'dctap-dancer'
    volumes:
      - ./dctap-dancer/data:/app/data
    restart: always
    # ports:
    #   - 3000:3000

  reverse:
    container_name: reverse
    hostname: reverse
    depends_on:
      - 'util'
    image: nginx:stable-alpine
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./dist/prod:/prod
      - ./dist/staging:/staging
      - ./dist/profile-editor:/profile-editor
      - ./dist/prod-quartz:/prod-quartz
      - ./dist/stage-quartz:/stage-quartz
    ports:
      - 9401:8080
      - 9400:80
    restart: always
      # - 443:443
    # volumes:

